estimator.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M/campplus.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M/flow.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M/hift.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M/llm.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M/speech_tokenizer_v1.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-Instruct/campplus.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-Instruct/flow.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-Instruct/hift.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-Instruct/llm.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-Instruct/speech_tokenizer_v1.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-SFT/campplus.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-SFT/flow.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-SFT/hift.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-SFT/llm.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-300M-SFT/speech_tokenizer_v1.onnx filter=lfs diff=lfs merge=lfs -text
pretrained_models/CosyVoice-ttsfrd/resource.zip filter=lfs diff=lfs merge=lfs -text
report1.nsys-rep filter=lfs diff=lfs merge=lfs -text
report2.nsys-rep filter=lfs diff=lfs merge=lfs -text
