--extra-index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/ # https://github.com/microsoft/onnxruntime/issues/21684
conformer
# deepspeed
diffusers
gdown
gradio
grpcio
grpcio-tools
huggingface-hub
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime_gpu
# onnxruntime
openai-whisper
protobuf
pydantic
pyworld
rich
soundfile
tensorboard
torch
torchaudio
uvicorn
wget
fastapi
fastapi-cli
WeTextProcessing==1.0.3
