--extra-index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/ # https://github.com/microsoft/onnxruntime/issues/21684

conformer
deepspeed; sys_platform == 'linux'
diffusers
fastapi
fastapi-cli
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime; sys_platform == 'darwin' or sys_platform == 'windows'
onnxruntime-gpu; sys_platform == 'linux'
openai-whisper
protobuf
pyarrow
pydantic
pyworld
rich
soundfile
tensorboard
tensorrt-cu12; sys_platform == 'linux'
tensorrt-cu12-bindings; sys_platform == 'linux'
tensorrt-cu12-libs; sys_platform == 'linux'
torch
torchaudio
transformers
uvicorn
wget
WeTextProcessing