--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/bmg/us/
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
attrs==25.1.0
audioread==3.0.1
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
conformer==0.3.2
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
deepspeed==0.16.3
diffusers==0.32.2
dpcpp-cpp-rt==2025.0.4
einops==0.8.0
fastapi==0.115.8
fastapi-cli==0.0.7
ffmpy==0.5.0
filelock==3.17.0
flatbuffers==25.1.24
fonttools==4.55.8
frozenlist==1.5.0
fsspec==2025.2.0
gdown==5.2.0
gradio==5.15.0
gradio_client==1.7.0
grpcio==1.70.0
grpcio-tools==1.70.0
h11==0.14.0
h5py==3.12.1
hjson==3.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.28.1
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.10
importlib_metadata==8.6.1
inflect==7.5.0
intel-cmplr-lib-rt==2025.0.4
intel-cmplr-lib-ur==2025.0.4
intel-cmplr-lic-rt==2025.0.4
intel-opencl-rt==2025.0.4
intel-openmp==2025.0.4
intel-sycl-rt==2025.0.4
intel_extension_for_pytorch==2.5.10+xpu
Jinja2==3.1.5
joblib==1.4.2
kaldifst==1.7.13
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.5.0.post0
lightning-utilities==0.12.0
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.0
mdurl==0.1.2
mkl==2025.0.1
mkl-dpcpp==2025.0.1
modelscope==1.22.3
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
networkx==3.4.2
ninja==1.11.1.3
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
nvidia-ml-py==12.570.86
omegaconf==2.3.0
onemkl-sycl-blas==2025.0.1
onemkl-sycl-datafitting==2025.0.1
onemkl-sycl-dft==2025.0.1
onemkl-sycl-lapack==2025.0.1
onemkl-sycl-rng==2025.0.1
onemkl-sycl-sparse==2025.0.1
onemkl-sycl-stats==2025.0.1
onemkl-sycl-vm==2025.0.1
onnx==1.17.0
onnxruntime-directml==1.20.1
openai-whisper==20240930
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pooch==1.8.2
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyarrow==19.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
pyparsing==3.2.1
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytorch-lightning==2.5.0.post0
pytz==2025.1
pyworld==0.3.5
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.5
safehttpx==0.1.6
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
semantic-version==2.10.0
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
starlette==0.45.3
sympy==1.13.1
tbb==2022.0.0
tcmlib==1.2.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.21.0
tomlkit==0.13.2
torch==2.5.1+cxx11.abi
torchaudio==2.5.1+cxx11.abi
torchmetrics==1.6.1
torchvision==0.20.1+cxx11.abi
tqdm==4.67.1
transformers==4.48.2
typeguard==4.4.1
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
umf==0.9.1
urllib3==2.3.0
uvicorn==0.34.0
watchfiles==1.0.4
websockets==14.2
wetext==0.0.3
wget==3.2
wheel==0.45.1
xmltodict==0.14.2
yarl==1.18.3
zipp==3.21.0
