--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/ # https://github.com/microsoft/onnxruntime/issues/21684
-r requirements/base.txt
-r requirements/tts.txt
-r requirements/runtime.txt
-r requirements/serve.txt
-r requirements/train.txt
# Optional vLLM support (install separately):
# pip install -r requirements/vllm.txt
